.Bug {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: fixed;
    z-index: 1;
}

.bugAwareZone {
    border-radius: 50%;

    position: fixed;
    z-index: 0;

    transition: 20ms;
}